.ticker {
  margin: 0 auto;
  width: 200px;
  height: 120px;

  &__value {
    font-size: 30px;
    color: #3589eb;
  }

  &__loader {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
  }

  &__sign {
    display: none;
    font-size: 24px;
    color: #b5b5b5;
  }
}
